<link rel="stylesheet" type="text/css" href="Login/Login.css" />

<div class="divLoginBox">
	<div ng-hide="isLoggedIn">
		Login | Signup
	</div>
	
	<div ng-show="isLoggedIn">
		Hi {{ displayName }}
	</div>
</div>
